<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <li id="dashboard_side" class=""><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i><span>Dashboard</span></a></li>
      <li id="preprocess_side" class=""><a href="{% url 'preprocessing' %}"><i class="fa fa-dashboard"></i><span>Preprocessing</span></a></li>
      <li id="pca_processing" class=""><a href="{% url 'pca_processing' %}"><i class="fa fa-dashboard"></i><span>Data Preprocessing With PCA</span></a></li>

      <li id="pls_da_processing" class=""><a href="{% url 'pls_da_processing' %}"><i class="fa fa-dashboard"></i><span>Data Processing with PLS DA</span></a></li>
      <li id="dca_processing" class=""><a href="{% url 'dca_processing' %}"><i class="fa fa-dashboard"></i><span>Differential Correlation Analysis</span></a></li>



      <li id="job" class=""><a href="{% url 'job' %}"><i class="fa fa-dashboard"></i><span>Task Manager</span></a></li>
      <li id="job" class=""><a href="{% url 'compare_result' %}"><i class="fa fa-dashboard"></i><span>Result Compare</span></a></li>
      <li id="validate_and_report" class=""><a href="{% url 'validate_and_report' %}"><i class="fa fa-dashboard"></i><span>Downloads</span></a></li>
      <li id="settings" class=""><a href="{% url 'settings' %}"><i class="fa fa-dashboard"></i><span>Settings</span></a></li>




      <!-- <li class="treeview" id="scrollspy-components">
        <a href="javascript:void(0)"><i class="fa fa-circle-o"></i>Data Processing </a>
        <ul class="nav treeview-menu">
          <li><a href="#">Principal Component Analysis</a></li>
          <li><a href="#">Sidebar</a></li>
        </ul>
      </li> -->
     </ul>
  </section>
  <!-- /.sidebar -->
</aside>
