<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <li id="dashboard_side" class=""><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i><span>Dashboard</span></a></li>
      <li id="preprocess_side" class=""><a href="{% url 'preprocessing' %}"><i class="fa fa-dashboard"></i><span>Preprocessing</span></a></li>
      <li id="pca_process_side" class=""><a href="{% url 'pca_processing' %}"><i class="fa fa-dashboard"></i><span>Data Preprocessing With PCA</span></a></li>




      <!-- <li class="treeview" id="scrollspy-components">
        <a href="javascript:void(0)"><i class="fa fa-circle-o"></i>Data Processing </a>
        <ul class="nav treeview-menu">
          <li><a href="#">Principal Component Analysis</a></li>
          <li><a href="#">Sidebar</a></li>
        </ul>
      </li> -->
     </ul>
  </section>
  <!-- /.sidebar -->
</aside>
