{% extends "dashboard_main_template/dashboard_main.html" %}
{% load staticfiles %}


{%block style%}



{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'vendor/jquery-datatable/jquery.datatable.min.css' %}">
<!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"> -->
<table id="example"  class="cell-border" class="display" style="width:100%">
      <thead>
          <tr>
              <th>Dataset Name</th>
              <th>Date Created</th>
              <th>Status</th>
              <th>Procssing Model Name</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody></tbody>
</table>

{% endblock%}



{%block scripts %}
<script type="text/javascript" src="{% static 'vendor/jquery-datatable/jquery.dataTables.min.js' %}"></script>

<script type="text/javascript" language="javascript" class="init">
     $(document).ready(function() {
         $('#example').DataTable( {
             "select": true,
             "processing": true,
             "ajax": {
                 "processing": true,
                 "url": "{% url 'alljob' %}",
                 "dataSrc": ""
             },
             "columns": [
                   { "data": "dataset_name" },
                   { "data": "created_at" },
                   { "data": "status" },
                   { "data": "processing_algorithm" },
                   {
                        data: 'id',
                        render: function ( data, type, row ) {
                          // console.log(row.status)
                          if (row.status=='Complete_and_Result_Generated') {

                            var url = "{% url 'deleteSinglejob' 123 %}".replace('123',data);
                            var url2 = "{% url 'showJobReult' 123 %}".replace('123',data);
                            var buttons= " <a href="+url+" class='btn btn-danger btn-xs' >Delete</a> " + "  <a href="+url2+" class='btn btn-success btn-xs' >Show Result</a>"
                            return buttons
                          } else if (row.status=='Processsing') {
// do nothing
                          } else {
                              // alert("asds")
                            var url = "{% url 'deleteSinglejob' 123 %}".replace('123',data);

                            var buttons= "<a href="+url+" class='btn btn-danger btn-xs' >Delete</a>"
                              return buttons
                          }
                        }
                    }
                 ]
         },

         );
     } );
 </script>
{% endblock%}
