 .portfolio-link:hover {color: #d2d2d2;}

.yellow-section{
    background: #F5C03B;
}

html, body {
    max-width: 100%;

}


.centering_form{
  margin: auto auto;
  /* border: 2px solid #eeeeee; */
  padding-bottom: 10px;
  padding-top: 10px;
}
