{% extends "dashboard_main_template/dashboard_main.html" %}




{% block content %}

<form name="options_form" id="options_form" class="" action="{% url 'preprocessing' %}"  method="post">


<div class="box box-default">

  <div class="box-header with-border">
    <h3 class="box-title">Dealing with the missing value </h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
    </div>
  </div>

  <div class="box-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
            <label>Select your Dataset</label>
            <select class="form-control select2" style="width: 100%;" name="dataset_id">
              <option selected="selected" value="00000">Main File</option>
              {% for x in dataset %}
                  <option value="{{ x.id }}">{{ x.name }}</option>
              {% endfor %}
            </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
            <label>Enter the name your generated Dataset</label>
            <input name="name" type="text" class="form-control" placeholder="Enter ...">
          </div>
      </div>

    </div>
  </div>
</div>

<div class="box box-default">

  <div class="box-header with-border">
    <h3 class="box-title">Dealing with the missing value </h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      <!-- <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button> -->

    </div>
  </div>
  <div class="box-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          {% for x in preprocessing_tasks %}
            {% if x.type == 0 %}
              <input type="checkbox" name="PreprocessingTasks_id" disabled="disabled" checked="checked" class="minimal" value="{{x.id}}"><label>{{x.name}}</label>  <br>
              <div class="alert alert-info" role="alert">
                The system will deal with the missing values/ imputation in the dataset.
                If any feature comes with 80% missing values or more the system will automatically drop that column from the dataset.
</div>
            {% endif %}
          {% endfor %}
         </div>
      </div>
    </div>
  </div>
</div>

<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">How do you want to scale your dataset</h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool"  data-widget="collapse"><i class="fa fa-minus"></i></button>
    </div>
  </div>
  <div class="box-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          {% for x in preprocessing_tasks %}
            {% if x.type == 1 %}
              <input type="checkbox" class="minimal" name="PreprocessingTasks_id" value="{{x.id}}"><label>{{x.name}}</label>  <br>
            {% endif %}
          {% endfor %}
         </div>
      </div>
    </div>
  </div>
</div>


<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Confirm</h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
    </div>
  </div>
  <div class="box-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
            <label>Hit Submit to confirm your changes</label>
            <button type="button" class="btn btn-small btn-success form-control"name="button" data-toggle="modal" data-target="#modal-confirm">Submit</button>
          </div>
      </div>
    </div>
  </div>
</div>


<div class="modal modal-default fade" id="modal-confirm">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Information</h4>
      </div>
      <div class="modal-body">
        <p>Hit Confirm  &hellip;</p>
        <input type="submit" class="btn btn-small btn-success form-control" value="Submit">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-outline">Save changes</button> -->
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->



</form>



<div class="modal modal-info fade" id="modal-info">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Information</h4>
      </div>
      <div class="modal-body">
        <p>Please Wait, this may take a while &hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-outline">Save changes</button> -->
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


{% endblock%}

{%block scripts %}
<script type="text/javascript">
  $( document ).ready(function() {
        $('li#preprocess_side').addClass("active");
    });


 $(document).ready(function(){
   $("#options_form").submit(function(e) {
       e.preventDefault();
       var token = '{{csrf_token}}';
       var form = $(this);
       var url = form.attr('action');

         $('#modal-confirm').modal("hide");
         $('#modal-info').modal("show");

       $.ajax({
              headers: { "X-CSRFToken": token },
              type: "POST",
              url: url,
              data: form.serialize(),
              beforesend:function(){
                $('#modal-info').modal("show");
              },
              success: function(data)
              {
                $('#modal-info').modal("hide");
                $('#options_form')[0].reset();

              },error:function(e){
                alert("Sorry We could not process your request ");
              }
            });

       });
 })
</script>






{% endblock%}
