<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  {% include 'dashboard/styles.html' %}
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    {% include 'dashboard/header.html' %}
  <!-- L"active"eft side column. contains the logo and sidebar -->
      {% include 'dashboard/sidebar.html' %}
  <!-- Content Wrapper. Contains page content -->



  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      {% block content_header%}
      <!-- <h1>
        Dashboard
        <small>Control panel</small>
      </h1> -->
      {% endblock %}
      <!-- <h1>
        Dashboard
        <small>Control panel</small>
      </h1> -->
    </section>
    <section class="content">
      {{ request.session.reference_id }}
      {% block content%}{% endblock %}
    </section>
  </div>

    {%include 'dashboard/scripts.html' %}
</body>
</html>
